fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

psycopg[binary]

python-dotenv

pydantic
pydantic-settings

supabase
alembic

email-validator
pwdlib[argon2]

python-jose==3.5.0

python-multipart

pwdlib
resend

pytest pytest-asyncio httpx

slowapi